h4{
	margin:0;
}

.info_message{
	margin-left: 20px;
}

.message{
	display: flex;
}

.photo_user{
	width: 10%;
	padding: 0 10px;
	display: flex;
}

.photo_user div{
	width: 100%;
	align-self: center;
}

.photo_user img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.last_message{
	margin-top: 15px;
}